#intro {
  min-height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.introContent {
  min-height: 100vh;
  width: 100vw;
  padding: 5% 10%;
  font-size: 3rem; /* Adjusted to a standard size */
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 2rem; /* Adjusted to a standard size */
  font-weight: 100;
}

.introName {
  color: goldenrod;
}

.subTitle {
  font-size: 1.3rem; /* Adjusted to a standard size */
  font-weight: 300;
  margin: 2% 0;
  font-style: italic;
}

.introPara {
  font-size: 1rem; /* Adjusted to a standard size */
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
}

.btn {
  width: 30%;
  background: white;
  margin: 1.5rem 0;
  padding: 1.5rem 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Centering items horizontally */
  justify-content: center;
}

.btn.expanded {
  width: 80%;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .introContent {
    padding: 8% 10%;
    font-size: 2rem; /* Standardizing font size */
  }

  .hello {
    font-size: 1.5rem;
  }

  .subTitle {
    font-size: 1.6rem; /* Standardizing font size */
    margin: 4% 0;
  }

  .introPara {
    font-size: 1.2rem; /* Standardizing font size */
  }

  .btn {
    width: 80%;
    padding: 1.5rem 3rem; /* Standardizing padding */
  }

  .btn.expanded {
    width: 90%;
  }
}
